<!DOCTYPE >
<html lang=\"en\">
<head>
      <meta charset=\"UTF-8\">
      <title>Home</title>
      <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css\">

    </head>
<body>
  <div class=\"container my-5\>
   <h1>Welcome(user.getName())</h1>
 <div class=\"card\">
       <div class=\"card-body\">
                   <h5 class=\"card-title\">Account Information</h5>
                    <p class=\"card-text\">")
                            <strong>Balance:</strong> ").("%.2f", user.getBalance()))(" €")
                         </p>")
                      <a href=\"#\" class=\"btn btn-primary\>View Transactions</a>
                   </div>
           </div>
   </div>
</body>
</html>